{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<section class="pane">
	<div class="title">
		<h1>Are you sure you want to delete {{category.name}}?</h1>
	</div>
</section>

<div class="row">
			<form action="#" method = "post">
				<div class="form">
					<button type="submit" class="btn" id="submit" type="submit">
					<span aria-hidden="true"></span>Delete</button>
				</div>
			</form>
			<a href = '{{url_for('showCategories')}}'>
			<button class="btn"><span class="fa fa-ban"></span> Cancel</button></a>
	</div>


{% endblock %}
