{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<section class="pane">
	<div class="title">
		<h1>{{ category.name }}</h1>
	</div>
</section>


<section class="content">
	<a href="{{url_for('newDream', category_id=category.id)}}" class="btn create"><i class="fa fa-plus"></i><span class="text-on-hover">Create</span></a>
	<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
    	{% if messages %}         
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
	</div>


<!--<div class="home">-->

{% if items !=[] %}	
{% for i in items %}
<!--	<div class="main">-->
    <div class="row">
        <img class="userPhoto" src="{{i.user.picture}}">
		<h3>{{i.title}}</h3>
		<p> {{i.dream_date}}</p>
		<p>{{i.description}}</p>
		<p>I awoke feeling {{i.emotion}}</p>
		<p>From the dream diary of {{i.user.name}}</p>
		<a href="{{url_for('editDream', category_id=category.id, item_id=i.id)}}" class="btn"><i class="fa fa-pencil-square-o"></i><span class="text-on-hover">Edit</span></a>
		<a href="{{url_for('deleteDream', category_id=category.id, item_id=i.id)}}" class="btn"><i class="fa fa-trash"></i><span class="text-on-hover">Delete</span></a>
	</div>
	{% endfor %}
	{% endif %}
<!--</div>-->

</section>




{% endblock %}