{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<section class="pane">
	<div class="title">
		<h1>Categories</h1>
	</div>
</section>


<section class="content">
    <a href="{{url_for('newCategory')}}" class="btn create"><i class="fa fa-plus"></i><span class="text-on-hover">Create</span></a>
	<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
    	{% if messages %}         
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

	</div>


<!--	<div class="home">-->
 
<!--    <div class="main -->
		{% for category in categories %}
		<div class="row">
			<h3>{{category.name}}</h3>
			<p>{{category.description}}</p>
            <a href="{{url_for('deleteCategory', category_id=category.id)}}" class="btn"><i class="fa fa-trash"></i><span class="text-on-hover">Delete</span></a>
            <a href="{{url_for('editCategory', category_id=category.id)}}" class="btn"><i class="fa fa-pencil-square-o"></i><span class="text-on-hover">Edit</span></a>
            <a href="{{url_for('showDreams', category_id = category.id)}}" class="btn"><i class="fa fa-eye"></i><span class="text-on-hover">View</span></a>
		</div>
		{% endfor %}
<!--	</div>-->
</section>




{% endblock %}
