{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<section class="pane">
	<div class="title">
		<h1>Dreams</h1>
	</div>
</section>


<section class="content">
	<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
    	{% if messages %}         
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
	</div>
{% for category in categories %}
	<div class="row">
	    <img class="catIcon" src="{{category.img}}">
		<h3>{{category.name}}</h3>
		<p>{{category.description}}</p>
        <a href="{{url_for('showDreams', category_id = category.id)}}" class="btn"><i class="fa fa-eye"></i><span class="text-on-hover">View</span></a>
	</div>
{% endfor %}
</section>




{% endblock %}
